.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

/* Modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  
  position: fixed;
  /*height: 900vh;
     width: 900vw;
     */
  top: 0;
  /*Positionfromthetopedgeoftheviewport*/
  left: 0;
  /*Positionfromtheleftedgeoftheviewport*/
  width: 100vw;
  /*Fullwidthoftheviewport*/
  height: 100vh;
  /*Fullheightoftheviewport*/
  z-index: 9999;
  /*Ahighz-indexvaluetoensureitappearsaboveotherelements*/
  pointer-events: auto;
}



.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  margin-top: 3em;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modalImage {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
 
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
    */ /*text-align: center;
    */
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 300px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #818cf8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #fff;
  width: fit-content;
}

.coolinput input[type="text"].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #818cf8 solid;
  border-radius: 5px;
  /* background: #e8e8e8; */
}

.coolinput input[type="text"].input:focus {
  outline: none;
  color: black;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: 0.5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
  color: black;
}

.btnPrimary {
  background-color: #411b57;
  color: black;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

.coolinput input{
    color: #212121;
}

.send-btn {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-top: 9px;
    cursor: pointer;
   }
   
   .send-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .send-btn:hover {
    color: #e8e8e8;
   }
   
   .send-btn:hover::before {
    width: 100%;
   }
  
   .spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
  }
  
  .spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  
  .spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  
  .spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  
  .spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }
  
  .spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  
  .spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
  .spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  
  .spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }
  
  @keyframes spinner-fade9234 {
    0% {
      background-color: #69717d;
    }
  
    100% {
      background-color: transparent;
    }
  }
  @keyframes orbit {
    0% {
      transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
      animation-timing-function: ease-in;
    }
    /* Keyframes for other percentages */
  }
  
  
  /* CSS3 animation keyframes */
  @keyframes sending{
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translate(40px, -60px);
    }
  }
  
  @keyframes move{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-18px);
    }
  }

@media screen and (max-width: 900px) {
  .modalContainer {
    max-width: 500px;
    width: auto;
  }
  .coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 200px;
  }
}

@media screen and (max-width: 682px) {
  .modalContainer {
    max-width: 500px;
  }
}

@media screen and (max-width: 599px) {
  .modalContainer {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  .modalImage {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    border-bottom-right-radius: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: center;
     
    margin-top: 3rem;
    padding: 1rem 2rem;
  }

  .coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 300px;
    padding-left: 3rem;
  }

 

  .heading {
    margin: 1rem;
  }
}

@media screen and (max-width: 414px){

    .formCont{
        overflow-y: auto;
        overflow-x: hidden;
      }

      .coolinput {
        display: flex;
        flex-direction: column;
        width: fit-content;
        position: static;
        width: 250px;
        padding-left: 3rem;
      }

      .formCont{
        overflow-y: auto;
        height: 400px;
      }

      .modalContainer {
        
        /* margin-top: -1em; */
        margin-top: -2px;
       
      }

      .closeBtn{
        color: #fff;
      }
}

@media screen and (max-width: 359px){
    .formCont{
        overflow-y: auto;
        
      }
    
      .formCont h3{
        font-size: 10px;
      }

      .coolinput {
        display: flex;
        flex-direction: column;
        width: fit-content;
        position: static;
        width: 250px;
        padding-right: 5rem;
      }
}