// .user-container{
//   position: absolute;
  
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin-left: 15rem;

  
// }

.containerss{
  width: 100vw;
height: 100vh;
// overflow: hidden;
overflow-x: hidden;
// background-color: red;

// justify-content: center;

}

.user-list {
  color: #333;
  .table {
    padding: 5px;
    width: 80%;
    margin-left: 10rem;
    
    overflow-x: auto;

    .search {
      width: 100%;
      max-width: 300px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

      thead {
        border-top: 2px solid var(--light-blue);
        border-bottom: 2px solid var(--light-blue);
      }

      th {
        border: 1px solid #eee;
      }

      th,
      td {
        vertical-align: top;
        text-align: left;
        padding: 8px;

        &.icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          > * {
            margin-right: 7px;
            cursor: pointer;
            vertical-align: middle;
            align-self: center;
          }
        }
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

      tr:nth-child(even) {
        background-color: #fff;
      }
      tbody {
        tr:hover {
          // cursor: pointer;
          background-color: rgba(121, 136, 149, 0.3);
        }
      }
    }
  }
}

.sort {
  label {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 5px;
  }
  select {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 8px;
    margin: 0 5px 0 0;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
  }


}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1rem;
}

.pagination .page-num {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal;
  color: #333;
  border: 1px solid #333;
  margin: 2px;
}

@media screen and (max-width: 800px){

  // .containerss{
  //   width: 100%;
  // height: 120vh;
  // // overflow: hidden;
  
  // }
  .user-list {
    color: #333;
    .table {
      padding: 5px;
      width: 100%;
      margin-left: 5rem;
      
      overflow-x: auto;
  
      .search {
        width: 100%;
        max-width: 300px;
      }
  
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;
  
        thead {
          border-top: 2px solid var(--light-blue);
          border-bottom: 2px solid var(--light-blue);
        }
  
        th {
          border: 1px solid #eee;
        }
  
        th,
        td {
          vertical-align: top;
          text-align: left;
          padding: 8px;
  
          &.icons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > * {
              margin-right: 7px;
              cursor: pointer;
              vertical-align: middle;
              align-self: center;
            }
          }
        }
  
        tr {
          border-bottom: 1px solid #ccc;
        }
  
        tr:nth-child(even) {
          background-color: #fff;
        }
        tbody {
          tr:hover {
            // cursor: pointer;
            background-color: rgba(121, 136, 149, 0.3);
          }
        }
      }
    }
  }
}


@media screen and (max-width: 400px){
  .containerss{
  //   width: 100%;
  // height: 100vh;
  overflow-x: hidden;
  
  }

  
  
}



.pagination .page-num:hover {
  color: #fff;
  background-color: var(--light-blue);
}
.activePage {
  color: #fff;
  background-color: var(--light-blue);
  height: 100%;
}
