 .password {
   position: relative;
   
 }

.icon {
      position: absolute;
      top: 1rem;
       right: 1rem;
       cursor: pointer;
     }
     
     .styles_input{
      outline: none;
      // border: none;
      border: 1px solid black;
      width: 370px;
      padding: 15px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      margin: 5px 0;
      font-size: 14px;
  }