.forget-container-section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate();
  -moz-transform: translate();
  -ms-transform: translate();
  -o-transform: translate();
}
.forget-container {
  max-width: 400px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.forget-container button:active {
  scale: 0.95;
}


.forget-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.forget-container .forget-form {
  display: flex;
  flex-direction: column;
}

.forget-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.forget-container .form-group label {
  display: block;
  margin-bottom: 5px;
}


.forget-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.forget-containerr .form-group input::placeholder {
  opacity: 0.5;
}
.forget-container .form-group input:focus {
  outline: none;
  border-color: #1778f2;
}

.forget-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.forget-container .form-submit-btn:hover {
  background-color: #313131;
}

.forget-container .link {
  color: #1778f2;
  text-decoration: none;
}

.forget-container .signup-link {
  align-self: center;
  font-weight: 500;
}

.forget-container .signup-link .link {
  font-weight: 400;
}

.forget-container .link:hover {
  text-decoration: underline;
}
